dask[complete]
datasets==2.20.0
huggingface-hub==0.23.4
huggingface_hub[cli]
lxml==5.2.2
numpy==1.26.4
pandas==2.2.2
psutil==6.0.0
scikit-learn==1.5.0
torch==2.3.1
tqdm==4.66.4
transformers==4.42.3
wandb==0.17.3